@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ box-sizing: border-box;}

body{
	background-color: #EEEEEE;
	color:#2e302f;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

main{
    flex-grow: 1;
}

/* ------ Header ------ */

header{
	background-color: #E27B34;
	height: 150px;
}

nav li{
	display: inline-block;
	margin: 16px;
	font-family: 'Lilita One', cursive;
	margin-top: 45px;
}

nav a{
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	padding: 10px;
}

nav a:hover{
	color: #2e302f;
	padding: 10px;
	background-color: #f9b209;
}

nav ul{
	padding: 0;
	display: inline-block;
}

.active{
	color: #f9b209;
	background-color: #2e302f;
}

/* ------ Contenu ------ */

h1{
	margin-top: 0;
}

h2{
	font-family: 'Lilita One', cursive;
	font-size: 40px;
	margin-top: 80px;
	text-transform:uppercase;
}

h3{
	font-family: 'Lilita One', cursive;
	font-size: 28px;
	margin: 10px 0 10px 0;
}

h4{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	margin: 10px 0 10px 0;
}

h5{
	font-family: 'Lilita One', cursive;
	font-size: 32px;
	text-transform:uppercase;
	margin: 0;
}

h6{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin-top: 16px;
	margin-bottom: 16px;
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.carte{
	text-align: center;
	border: 1px solid black;
}

.carte img{
    width: 100%;
    object-fit:cover;
}

.item{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.item-order{
	margin-left: 25px;
}

.item-order li{
	display: inline-block;
}

.image{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.show-on-mobile{
	width: 50px;
	height: 50px;
	margin-top: 20px;
	display: none;
}

/* ------ Positionnement ------ */

.flex-cotes{
    display: flex;
    justify-content: space-between;
}

.flex-colonnes{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.flex-colonnes-space{
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

.flex-cotes-contact{
    display: flex;
    justify-content: space-between;
	align-content: center;
}

.col-demi{
    width: 48.5%;
}

.col-1-tier{
    width: 32%;
	margin-left: 10%;
}

.col-2-tier{
    width: 65.5%;
}


/* ------ Section------ */

#tshirt-burgershop{
	background-color: #aacd35;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 0;
}

.tshirt-burgershop img{
	object-fit: cover;
	width: 100%;
}

#macommande{
	margin: 0;
	margin-top: 50px;
}

#macommande-beignes{
	margin: 0;
	margin-top: 50px;
}

#macommande li{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
}

#macommande-beignes li{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
}

#macommande ul{
	padding: 0;
	list-style-type: none;
}

#macommande-beignes ul{
	padding: 0;
	list-style-type: none;
}

#macommande img{
	width: 20px;
	height: 20px;
}

#macommande-beignes img{
	width: 20px;
	height: 20px;
}

aside{
	background-color: #BBBBBB;
	color: #2e302f;
	padding: 20px;
	margin-top: 30px;
	height: 300px;
}

aside li{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
}

aside ul{
	padding: 0;
}

/* ------ Bouton ------ */

.btn{
	display: inline-block;
	color: #FFF;
	background-color: #2e302f;
	padding: 10px 20px;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
	margin-bottom: 20px;
	text-decoration: none;
}

.btn:hover{
	display: inline-block;
	color: #FFF;
	background-color: #E27B34;
	padding: 10px 20px;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
	margin-bottom: 20px;
	text-decoration: none;
}

.btn-contact{
	display: inline-block;
	color: #FFF;
	background-color: #2e302f;
	padding: 15px 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 5px;
	text-decoration: none;
}

.btn-contact:hover{
	display: inline-block;
	color: #FFF;
	background-color: #aacd35;
	padding: 15px 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 5px;
	text-decoration: none;
}

.btn-commandez{
	display: inline-block;
	color: #FFF;
	background-color: #2e302f;
	padding: 10px 20px;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
	margin-bottom: 20px;
	text-decoration: none;
}

/* ------ Positionnement avec grid ------ */

.grid-colonnes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: center;
	gap: 0px;
}

#laboris{
	grid-column: 2;
	grid-row: 2;
}

#cubidatat{
	grid-column: 3;
	grid-row: 2;
}
  
.list-img{
	padding: 0;
	list-style-type: none;
}

.grid-mosaique img{
	width: 100%;
}

.grid-mosaique{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-mosaique li{
	display: flex;
	align-items: center;
	justify-content: center;
}

#mosaique-1{
	grid-column: 1/span 2;
	grid-row: 1/span 2;
}

#mosaique-2{
	grid-column: 3;
	grid-row: 1;
}

#mosaique-3{
	grid-column: 3;
	grid-row: 2;
}

#mosaique-4{
	grid-column: 1;
	grid-row: 3;
}

#mosaique-5{
	grid-column: 1;
	grid-row: 4;
}

#mosaique-6{
	grid-column: 2/span 2;
	grid-row: 3/span 2;
}


/* ------ Formulaire ------ */

legend{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 600;
	margin: 0px 0px 10px 0px;
}

label{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

fieldset{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
	margin:10px 0px 20px 0px;
	height: 550px;
}

input{
    font-family: 'Poppins', sans-serif;
    padding: 8px;
	margin-bottom: 20px;
}

input[type="text"]{
	width: 75%;
}

input[type="email"]{
	width: 75%;
}

label{
    display: block;
}

.radio-group{
	display: flex;
}

.radio-group input[type="radio"]{
	margin-right: 10px;
}

.infolettre{
	display: flex;
}

.infolettre input[type="checkbox"]{
	margin-right: 10px;
}

textarea{
	width: 75%;
	height: 100px;
}

.container-commandez{
	text-align: center;
}


/* ------ Footer ------ */

footer li{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: small;
	align-content: center;
}

footer ul{
	padding: 0;
}

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E27B34;
	height: 80px;
}

.contact ul{
	align-items: center;
	margin: 0;
}

.contact li{
	font-size: larger;
	margin: 0;
}

.bottom{
	background-color: #EEEEEE;
}

/* ------ Media Queries ------ */

@media screen and (max-width: 1200px)
{
	.grid-colonnes{
		display: grid;
		grid-template-columns: 1fr 1fr;		
		gap: 30px;
	}

	#cubidatat,
	#laboris{
		grid-column: auto;
		grid-row: auto;
	}

	.grid-mosaique{
		grid-template-columns: 1fr 1fr;
	}

	#mosaique-1,
	#mosaique-2,
	#mosaique-3,
	#mosaique-4,
	#mosaique-5,
	#mosaique-6{
		grid-column: auto;
		grid-row: auto;
	}
	
	.flex-colonnes-space{
		flex-direction: column;
	}

	.col-demi{
		width: 100%;
	}

}

@media screen and (max-width: 960px)
{
	.grid-colonnes{
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
	}

	#cubidatat,
	#laboris{
		grid-column: auto;
		grid-row: auto;
	}

	.grid-mosaique{
		grid-template-columns: 1fr;
	}

	#mosaique-1,
	#mosaique-2,
	#mosaique-3,
	#mosaique-4,
	#mosaique-5,
	#mosaique-6{
		grid-column: auto;
		grid-row: auto;
	}
	
	.flex-colonnes-space{
		flex-direction: column;
	}

	.col-demi{
		width: 100%;
	}

	.hide-on-mobile{
		display: none !important;
	}

	.show-on-mobile{
		display: block !important;
	}

}

@media screen and (max-width: 570px)
{
	.flex-cotes{
		flex-direction: column;
		align-items: center;
		gap: 10px;
		text-align: center;
	}

	.contact{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #E27B34;
		height: 150px;
	}

}